# PyCity Schools Analysis

- Your analysis here
  
---

In [1]:


import pandas as pd
from pathlib import Path

In [2]:
school_datapath= Path("../Resources/schools_complete.csv")
student_datapath= Path("../Resources/students_complete.csv")
school_data= pd.read_csv(school_datapath)
student_data= pd.read_csv(student_datapath)
school_data_merge= pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_merge.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [6]:
number_schools= school_data_merge["school_name"].nunique()
number_schools

15

In [8]:
number_students = school_data_merge["student_name"].count()
number_students

39170

In [13]:
budget_total= school_data_merge["budget"].unique().sum()
budget_total

24649428

In [14]:
average_math= school_data_merge["math_score"].mean()
average_math

78.98537145774827

In [15]:
average_read= school_data_merge["reading_score"].mean()
average_read

81.87784018381414

In [18]:
number_passing_math = school_data_merge[(school_data_merge["math_score"] >= 70)].count()["student_name"]
pass_math_percentage = number_passing_math / float(number_students) * 100
pass_math_percentage

74.9808526933878

In [19]:
number_passing_read = school_data_merge[(school_data_merge["reading_score"] >= 70)].count()["student_name"]
pass_read_percentage = number_passing_read / float(number_students) * 100
pass_read_percentage

85.80546336482001

In [21]:
number_passing_both = school_data_merge[(school_data_merge["math_score"] >= 70) & (school_data_merge["reading_score"] >= 70)].count()["student_name"]
pass_both_percentage = number_passing_both / float(number_students) * 100
pass_both_percentage

65.17232575950983

In [29]:
district_summary = pd.DataFrame({"Total Schools":[number_schools],"Total Students":[number_students], "Total Budget":[budget_total], "Average Math Score":[average_math], "Average Reading":[average_read], "% Passing Math":[pass_math_percentage], "% Passing Reading":[pass_read_percentage], "% Overall Passing":[pass_both_percentage]})

district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary